# Entornos y variables
.env
/tutor-env
.vscode/

# Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Node
node_modules/
*/node_modules/
*.log

# Frontend (Vite Build)
/frontend/dist/

# Temporales
temp/

# Base de datos local
/backend/tutor.db
/backend/tutor.db-shm
/backend/tutor.db-wal

# Sistema Operativo
.DS_Store
Thumbs.db