# Entornos y variables
.env
/tutor-env
.vscode/

# Python
__pycache__/
*.pyc

# Node
/node_modules/
*/node_modules/

# Temporales
temp/

# Base de datos local
/server/tutor.db
/server/tutor.db-shm
/server/tutor.db-wal